* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
section#pri{
    height: 100vh;
    width: auto;
    background: #101010;
    overflow: hidden;
}
section#pri #content{
    width: 100%;
    height: 100%;
}
section#pri #content img#bg{
    width: 100%;
    height: 100%;
}
section#pri #content #dk{
    width: 10rem;
    height: 12rem;
    position: absolute;
    top: 22%;
    left: 12%;
    object-fit: cover;
    animation: salto 10s infinite;
}
section#pri #content #dk img{
    width: 100%;
    height: 100%;
    object-fit: cover;

}
section#pri #content #barr{
    width: 10rem;
    height: 12rem;
    position: absolute;
    top: 65%;
    left: 12%;
    object-fit: cover;
}
section#pri #content #barr img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
section#pri #content #barr2{
    width: 10rem;
    height: 12rem;
    position: absolute;
    top: 80%;
    left: 80%;
    object-fit: cover;
}
section#pri #content #barr2 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.gbarril{
    animation: rotBarril 3s ease-in-out infinite;

}
.gbarril2{
    animation: rotBarril 4s ease-in-out infinite alternate;

}
@keyframes  rotBarril{
    from {
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}
@keyframes salto{
    0%{
        top: -200px;
        left: -200px;
        transform: scale(1);
    }
    16%{
        top: 22%;
        left: 12%;
    }
    26%{
        left: 65%;
        top: 12%;
        transform: scale(1) rotate(180deg);
    }
    64%{
        left: 80%;
        top:80%;
        transform: scale(0.5);
    }
    72%{
        top: 65%;
        left: 65%;
        transform: scale(1) rotate(180deg);
    }
    82%{
        top: 65%;
        left: 12%;
        transform: scale(0.5);
    }
    100%{
        top: -200px;
        left: -200px;
        transform: scale(1) rotate(360deg);
    }

}